<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    h1{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
        font-family: "gilroy";
        font-size: 30px;
        color: rgb(32, 99, 119);
    }
</style>
<body>
    <h1>Payment success</h1>
</body>
</html>